tfs-build/n8n/03_helper_increment.json
{
  "name": "TFS — Helper: Deal Counter Math",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "increment-deals",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-increment",
      "name": "Webhook: Increment Deals",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "tfs-increment-deals",
      "notes": "Called by GHL WF03 (Close & Recycle) when a deal closes. Payload: { contact_id: 'xxx' }"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{$json.body.contact_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Version", "value": "2021-07-28" }
          ]
        }
      },
      "id": "get-contact",
      "name": "GHL: Get Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "ghl_private_integration", "name": "GHL Private Integration Token" }
      }
    },
    {
      "parameters": {
        "jsCode": "const contact = $json.contact || $json;\nconst cf = contact.customFields || [];\nconst dealsField = cf.find(f => f.fieldKey === 'contact.deals_last_12_months' || f.name === 'Deals Last 12 Months');\nconst current = dealsField ? parseInt(dealsField.value || 0) : 0;\nconst newValue = current + 1;\nreturn [{ json: { contact_id: contact.id, current, newValue } }];"
      },
      "id": "calc-new-value",
      "name": "Calc +1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{$json.contact_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Version", "value": "2021-07-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "customFields",
              "value": "={{ [{ fieldKey: 'contact.deals_last_12_months', value: $json.newValue.toString() }] }}"
            }
          ]
        }
      },
      "id": "write-back",
      "name": "GHL: Write Back",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, contact_id: $json.contact_id, newValue: $json.newValue } }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook: Increment Deals": {
      "main": [[{ "node": "GHL: Get Contact", "type": "main", "index": 0 }]]
    },
    "GHL: Get Contact": {
      "main": [[{ "node": "Calc +1", "type": "main", "index": 0 }]]
    },
    "Calc +1": {
      "main": [[{ "node": "GHL: Write Back", "type": "main", "index": 0 }]]
    },
    "GHL: Write Back": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1", "timezone": "America/Phoenix" },
  "meta": {
    "description": "Handles the +1 math GHL can't do natively. Called from WF03 on deal close.",
    "also_handles": "Paired with 04_rollover_and_deadletter.json — a cron that runs monthly to decrement deals_last_12_months for buyers whose most recent close was >12 months ago. Without this, the counter never decays and tier scoring becomes inaccurate over time."
  }
}
