tfs-build/n8n/backups/backup-02-helper-increment.json
{
  "name": "TFS — Helper: Deal Counter Math",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "increment-deals",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e89ea580-3497-43c7-bce9-d334da331fa9",
      "name": "Webhook: Increment Deals",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "webhookId": "tfs-increment-deals",
      "notes": "Called by GHL WF03 (Close & Recycle) when a deal closes. Payload: { contact_id: 'xxx' }"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{$json.body.contact_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "id": "7f82b401-bde4-435e-8f41-df73948d6686",
      "name": "GHL: Get Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n5bIuANRA5buEHIM",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const contact = $json.contact || $json;\nconst cf = contact.customFields || [];\nconst dealsField = cf.find(f => f.fieldKey === 'contact.deals_last_12_months' || f.name === 'Deals Last 12 Months');\nconst current = dealsField ? parseInt(dealsField.value || 0) : 0;\nconst newValue = current + 1;\nreturn [{ json: { contact_id: contact.id, current, newValue } }];"
      },
      "id": "f2215ccd-01ac-49f1-82e1-4d2f584bd57d",
      "name": "Calc +1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{$json.contact_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "customFields",
              "value": "={{ [{ fieldKey: 'contact.deals_last_12_months', value: $json.newValue.toString() }] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9463ae36-4102-454f-b468-13923ff09a9c",
      "name": "GHL: Write Back",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n5bIuANRA5buEHIM",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, contact_id: $json.contact_id, newValue: $json.newValue } }}",
        "options": {}
      },
      "id": "3787aad7-0a77-418e-af42-d381e06a913a",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1488,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Increment Deals": {
      "main": [
        [
          {
            "node": "GHL: Get Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL: Get Contact": {
      "main": [
        [
          {
            "node": "Calc +1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc +1": {
      "main": [
        [
          {
            "node": "GHL: Write Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL: Write Back": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "eac29dde-5539-497c-9eae-5f59e0ef89c2",
  "meta": {
    "instanceId": "8d9aeaa0e746bf46774713f3f3e460e77bf8dc9eed2f5d93f5f7c01518cc6602"
  },
  "id": "qokxg5pPwWFCjeLm",
  "tags": []
}