commercial-stack-engine/n8n-workflows/04-hot-lead-router.json
{
  "name": "CSE — 04 Hot Lead Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cse-hot-lead-router",
        "responseMode": "lastNode"
      },
      "id": "webhook",
      "name": "Webhook in",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM v_hot_leads_24h WHERE id = {{$json.listing_id}}::bigint LIMIT 1"
      },
      "id": "fetch",
      "name": "Fetch hot lead view",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.GHL_API_KEY}}" },
            { "name": "Version", "value": "2021-07-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"locationId\": \"{{$env.GHL_LOCATION_ID}}\",\n  \"name\": \"{{$json.owner_name}}\",\n  \"address1\": \"{{$json.address}}\",\n  \"city\": \"{{$json.city}}\",\n  \"state\": \"{{$json.state}}\",\n  \"tags\": [\"acq:commercial\", \"acq:stack-candidate\", \"use:wholesale-or-buy\", \"asset:{{$json.asset_class}}\"],\n  \"customFields\": [\n    { \"key\": \"equity_percent\", \"value\": \"{{$json.equity_estimate_percent}}\" },\n    { \"key\": \"owner_state\", \"value\": \"{{$json.owner_state}}\" },\n    { \"key\": \"recommended_structure\", \"value\": \"{{$json.recommended_structure.type}}\" },\n    { \"key\": \"stack_score\", \"value\": \"{{$json.overall_score}}\" },\n    { \"key\": \"source_url\", \"value\": \"{{$node['Fetch hot lead view'].json.source_url}}\" }\n  ]\n}"
      },
      "id": "ghlUpsert",
      "name": "GHL upsert contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.GHL_API_KEY}}" },
            { "name": "Version", "value": "2021-07-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"locationId\": \"{{$env.GHL_LOCATION_ID}}\",\n  \"contactId\": \"{{$json.id}}\",\n  \"pipelineId\": \"{{$env.GHL_PIPELINE_ID_COMMERCIAL}}\",\n  \"pipelineStageId\": \"{{$env.GHL_STAGE_STACK_CANDIDATE}}\",\n  \"name\": \"Stack Candidate — {{$node['Fetch hot lead view'].json.address}}\",\n  \"status\": \"open\",\n  \"monetaryValue\": {{$node['Fetch hot lead view'].json.listing_price}}\n}"
      },
      "id": "ghlOpp",
      "name": "GHL create opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [960, 300]
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.GHL_API_KEY}}" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{$env.BROOKE_GHL_CONTACT_ID}}\",\n  \"message\": \"🔥 HOT STACK LEAD — {{$node['Fetch hot lead view'].json.asset_class}} {{$node['Fetch hot lead view'].json.city}}, {{$node['Fetch hot lead view'].json.state}} — {{$node['Fetch hot lead view'].json.overall_score}}/100 — {{$node['Fetch hot lead view'].json.equity_estimate_percent}}% equity — Owner: {{$node['Fetch hot lead view'].json.owner_name}}\"\n}"
      },
      "id": "smsBrooke",
      "name": "SMS Brooke",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "leads",
        "columns": "listing_id,score_id,ghl_contact_id,ghl_pipeline_stage,status"
      },
      "id": "leadRow",
      "name": "Insert leads row",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1440, 300]
    }
  ],
  "connections": {
    "Webhook in":            { "main": [[{ "node": "Fetch hot lead view", "type": "main", "index": 0 }]] },
    "Fetch hot lead view":   { "main": [[{ "node": "GHL upsert contact", "type": "main", "index": 0 }]] },
    "GHL upsert contact":    { "main": [[{ "node": "GHL create opportunity", "type": "main", "index": 0 }]] },
    "GHL create opportunity":{ "main": [[{ "node": "SMS Brooke", "type": "main", "index": 0 }]] },
    "SMS Brooke":            { "main": [[{ "node": "Insert leads row", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "_notes": "Wraps a HOT score → GHL contact + opportunity + SMS Brooke. SMS_ALERTS_LIVE killswitch should gate the SMS Brooke node — until verified, point it at a no-op or a test contact. Confirm GHL_PIPELINE_ID_COMMERCIAL and GHL_STAGE_STACK_CANDIDATE values before flipping live."
}
