tfs-build/n8n/ready-to-import/01_buyer_match_engine.json
{
  "id": "IxCkDTYqMi0xnCZa",
  "name": "TFS — Buyer Match Engine (GHL + Notion)",
  "description": null,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-deal-inventory",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: New Deal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "tfs-new-deal-inventory",
      "notes": "Triggered by: (1) GHL workflow when an opportunity hits 'Inventory - Ready to Blast' stage, OR (2) Notion button automation on a deal page. Expected payload fields: deal_id, source (ghl|notion), asset_class, market, price, deal_type, summary_url, address (internal only)"
    },
    {
      "parameters": {
        "jsCode": "// Normalize incoming payload from either GHL or Notion source\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// Extract and normalize\nconst deal = {\n  deal_id: body.deal_id || body.id || `deal_${Date.now()}`,\n  source: body.source || 'unknown',\n  asset_class: (body.asset_class || body.assetClass || '').trim(),\n  market: (body.market || body.deal_market || '').trim(),\n  price: parseFloat(body.price || body.deal_price || 0),\n  deal_type: body.deal_type || body.dealType || 'Wholesale',\n  summary_url: body.summary_url || body.summaryUrl || '',\n  address: body.address || '', // internal only, never sent to buyers pre-gate\n  blast_at: new Date().toISOString()\n};\n\n// Validation gate\nif (!deal.asset_class || !deal.market || !deal.price) {\n  throw new Error(`Deal missing required fields: asset_class=${deal.asset_class}, market=${deal.market}, price=${deal.price}`);\n}\n\nreturn [{ json: deal }];"
      },
      "id": "normalize-deal",
      "name": "Normalize Deal Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/?locationId=7IyUgu1zpi38MDYpSDTs&query=buyer:active&limit=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "fetch-active-buyers",
      "name": "GHL: Fetch Active Buyers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DR2T0oJKfFcj1GFD",
          "name": "GHL Private Integration Token"
        }
      },
      "notes": "Uses GHL Private Integration Token (create under Settings → Private Integrations). Env var GHL_LOCATION_ID should be set to the TFS sub-account location ID. For paginated results beyond 100, add a Loop node — skipping that optimization until buyer list exceeds 100 active contacts."
    },
    {
      "parameters": {
        "jsCode": "// --- auto-generated field ID preamble (2026-04-17T03:40:06.936Z) ---\nconst FIELD_IDS = {\n  \"Lead Source\": \"Ov2LMG8TipkI4jlNAFRR\",\n  \"Buyer Asset Class\": \"NT3w93SU9mkNugSZjHLB\",\n  \"Buyer Market\": \"Rt1ETvZZSh3pFlFZkhro\",\n  \"Buyer Price Min\": \"pM3aeMZALD2tmf2cFSmG\",\n  \"Buyer Price Max\": \"LcsBYM6iUurqTu8SsfTz\",\n  \"Capital / POF Amount\": \"pkNBpd4VwNblSMrB20I5\",\n  \"PoF on File\": \"zKyplmyTeBFlUFdYMfUD\",\n  \"Deals Last 12 Months\": \"ToK46ItNIDFiEcEFNN5m\",\n  \"Decision Maker\": \"06k53PRZ8o9hs2Zy5F4h\",\n  \"Buyer Tier\": \"GzB9iQ9Mb9IsAKuMS93X\",\n  \"Last Touch Date\": \"SwUKaml8kRpCrrLzunlh\",\n  \"Preferred Contact Method\": \"qoFIBxIWRow8HQy3GOw1\",\n  \"Re-verify Due Date\": \"1cgpp0vcBSWSKptqoORU\",\n  \"Entity Name\": \"05jevWkhMiY8bFoe9TWc\",\n  \"EMD Amount\": \"pEf6ih4rpT7oOMLlK9wN\",\n  \"Offer Price\": \"6c52JUALKfX7Apv4RpR4\",\n  \"Close Date Target\": \"wuXiUAbgKqaYGlmqqE0e\",\n  \"Contingencies\": \"cTtqBoUEGXEk7gUdtl9u\",\n  \"Assignment Fee Paid\": \"LkrfGd6ziGJNwlxugcVV\",\n  \"Last Deal Sent ID\": \"RiSmLK8l97DKzrK3VQaZ\",\n  \"Last Deal Sent Date\": \"CAJQUQSjrkcdygsCGDdK\",\n  \"Deal Asset Class (latest)\": \"JzmuiUCvNJtHiHOeEz90\",\n  \"Deal Market (latest)\": \"tAFA5xs5ZS7AG7AgheZw\",\n  \"Deal Price (latest)\": \"h1PdpPrgYHfk7WKdEBjp\",\n  \"Deal Type (latest)\": \"TENFLNR411SHBOBRzEQX\",\n  \"Deal Summary URL (latest)\": \"hGftrRzv5pt24KrNd1sO\"\n};\nconst getFieldById = (buyer, nameKey) => {\n  const id = FIELD_IDS[nameKey];\n  if (!id) return null;\n  const m = (buyer.customFields || []).find(f => f.id === id);\n  return m ? m.value : null;\n};\n\n// Match logic — filter buyers against deal criteria\nconst deal = $('Normalize Deal Payload').first().json;\nconst buyers = $input.first().json.contacts || [];\n\nconst matches = [];\n\nfor (const buyer of buyers) {\n  // Extract custom fields — GHL returns these as an array\n  const cf = {};\n  (buyer.customFields || []).forEach(f => { cf[f.id] = f.value; });\n  \n  // Map by field key (you'll replace these IDs with your actual GHL custom field IDs after first run)\n  // Field keys from 01_custom_fields.json — the code below uses the field NAME match as a fallback\n  const getField = (name) => {\n    const byId = getFieldById(buyer, name);\n    if (byId !== null && byId !== undefined) return byId;\n    const match = (buyer.customFields || []).find(f => f.name === name || f.fieldKey === name);\n    return match ? match.value : null;\n  };\n\n  // toArr — GHL multi-select returns arrays; string-type fields return strings. Handle both.\n  const toArr = (v) => {\n    if (v === null || v === undefined) return [];\n    if (Array.isArray(v)) return v.filter(x => x !== null && x !== undefined).map(String).map(s => s.trim()).filter(Boolean);\n    if (typeof v === 'string') return v.split(',').map(s => s.trim()).filter(Boolean);\n    return [String(v)];\n  };\n  \n  const buyerAssetClasses = toArr(getField('Buyer Asset Class'));\n  const buyerMarkets = toArr(getField('Buyer Market')).map(s => s.toLowerCase());\n  const priceMin = parseFloat(getField('Buyer Price Min') || 0);\n  const priceMax = parseFloat(getField('Buyer Price Max') || Infinity);\n  const buyerTier = (getField('Buyer Tier') || 'C').toUpperCase();\n  const lastDealSentDate = getField('Last Deal Sent Date');\n  \n  // Cooldown check — skip buyers who got a deal blast in last 24h (spam prevention)\n  if (lastDealSentDate) {\n    const hoursSince = (Date.now() - new Date(lastDealSentDate).getTime()) / (1000 * 60 * 60);\n    if (hoursSince < 24) continue;\n  }\n  \n  // Asset class match (any overlap)\n  const assetMatch = buyerAssetClasses.some(ac => \n    ac.toLowerCase() === deal.asset_class.toLowerCase() ||\n    deal.asset_class.toLowerCase().includes(ac.toLowerCase())\n  );\n  if (!assetMatch) continue;\n  \n  // Market match (any substring overlap on buyer market list)\n  const dealMarketLower = deal.market.toLowerCase();\n  const marketMatch = buyerMarkets.some(bm => \n    dealMarketLower.includes(bm) || bm.includes(dealMarketLower)\n  );\n  if (!marketMatch) continue;\n  \n  // Price band match\n  if (deal.price < priceMin || deal.price > priceMax) continue;\n  \n  // All checks passed\n  matches.push({\n    contact_id: buyer.id,\n    first_name: buyer.firstName,\n    last_name: buyer.lastName,\n    email: buyer.email,\n    phone: buyer.phone,\n    tier: buyerTier,\n    tier_priority: buyerTier === 'A' ? 1 : buyerTier === 'B' ? 2 : 3\n  });\n}\n\n// Sort by tier (A first)\nmatches.sort((a, b) => a.tier_priority - b.tier_priority);\n\n// Return one item per match so downstream nodes loop naturally\nreturn matches.map(m => ({ json: { ...m, deal } }));"
      },
      "id": "filter-match",
      "name": "Filter & Match Buyers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.tier}}",
                    "rightValue": "A",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "rightType": "string",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tier A"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.tier}}",
                    "rightValue": "B",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "rightType": "string",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tier B"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.tier}}",
                    "rightValue": "C",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "rightType": "string",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tier C"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "switch-tier",
      "name": "Switch by Tier",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{$json.contact_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ customFields: [\n  { id: 'JzmuiUCvNJtHiHOeEz90', field_value: $json.deal.asset_class },\n  { id: 'tAFA5xs5ZS7AG7AgheZw', field_value: $json.deal.market },\n  { id: 'h1PdpPrgYHfk7WKdEBjp', field_value: '$' + Number($json.deal.price).toLocaleString() },\n  { id: 'TENFLNR411SHBOBRzEQX', field_value: $json.deal.deal_type },\n  { id: 'hGftrRzv5pt24KrNd1sO', field_value: $json.deal.summary_url },\n  { id: 'RiSmLK8l97DKzrK3VQaZ', field_value: $json.deal.deal_id },\n  { id: 'CAJQUQSjrkcdygsCGDdK', field_value: new Date().toISOString().slice(0,10) }\n] }) }}"
      },
      "id": "write-deal-fields-a",
      "name": "A: Write Deal Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DR2T0oJKfFcj1GFD",
          "name": "GHL Private Integration Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{$('Filter & Match Buyers').item.json.contact_id}}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={ \"tags\": [\"deal:new-inventory\"] }"
      },
      "id": "apply-tag-a",
      "name": "A: Apply deal:new-inventory Tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        180
      ],
      "notes": "This is what fires GHL WF02 (Deal Match & Send). The tag MUST be applied AFTER the custom fields are written, otherwise WF02 reads stale/empty fields.",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DR2T0oJKfFcj1GFD",
          "name": "GHL Private Integration Token"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "id": "wait-tier-b",
      "name": "Wait 1h (Tier B)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1340,
        320
      ],
      "webhookId": "wait-tier-b"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{$json.contact_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ customFields: [\n  { id: 'JzmuiUCvNJtHiHOeEz90', field_value: $json.deal.asset_class },\n  { id: 'tAFA5xs5ZS7AG7AgheZw', field_value: $json.deal.market },\n  { id: 'h1PdpPrgYHfk7WKdEBjp', field_value: '$' + Number($json.deal.price).toLocaleString() },\n  { id: 'TENFLNR411SHBOBRzEQX', field_value: $json.deal.deal_type },\n  { id: 'hGftrRzv5pt24KrNd1sO', field_value: $json.deal.summary_url },\n  { id: 'RiSmLK8l97DKzrK3VQaZ', field_value: $json.deal.deal_id },\n  { id: 'CAJQUQSjrkcdygsCGDdK', field_value: new Date().toISOString().slice(0,10) }\n] }) }}"
      },
      "id": "write-deal-fields-b",
      "name": "B: Write Deal Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DR2T0oJKfFcj1GFD",
          "name": "GHL Private Integration Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{$('Filter & Match Buyers').item.json.contact_id}}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={ \"tags\": [\"deal:new-inventory\"] }"
      },
      "id": "apply-tag-b",
      "name": "B: Apply deal:new-inventory Tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DR2T0oJKfFcj1GFD",
          "name": "GHL Private Integration Token"
        }
      }
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "hours"
      },
      "id": "wait-tier-c",
      "name": "Wait 4h (Tier C)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1340,
        460
      ],
      "webhookId": "wait-tier-c"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{$json.contact_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ customFields: [\n  { id: 'JzmuiUCvNJtHiHOeEz90', field_value: $json.deal.asset_class },\n  { id: 'tAFA5xs5ZS7AG7AgheZw', field_value: $json.deal.market },\n  { id: 'h1PdpPrgYHfk7WKdEBjp', field_value: '$' + Number($json.deal.price).toLocaleString() },\n  { id: 'TENFLNR411SHBOBRzEQX', field_value: $json.deal.deal_type },\n  { id: 'hGftrRzv5pt24KrNd1sO', field_value: $json.deal.summary_url },\n  { id: 'RiSmLK8l97DKzrK3VQaZ', field_value: $json.deal.deal_id },\n  { id: 'CAJQUQSjrkcdygsCGDdK', field_value: new Date().toISOString().slice(0,10) }\n] }) }}"
      },
      "id": "write-deal-fields-c",
      "name": "C: Write Deal Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DR2T0oJKfFcj1GFD",
          "name": "GHL Private Integration Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{$('Filter & Match Buyers').item.json.contact_id}}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={ \"tags\": [\"deal:new-inventory\"] }"
      },
      "id": "apply-tag-c",
      "name": "C: Apply deal:new-inventory Tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DR2T0oJKfFcj1GFD",
          "name": "GHL Private Integration Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, deal_id: $('Normalize Deal Payload').first().json.deal_id, matched_count: $('Filter & Match Buyers').all().length } }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        500
      ]
    },
    {
      "id": "wf02-post-a",
      "name": "A: POST to WF02 Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/hooks/7IyUgu1zpi38MDYpSDTs/webhook-trigger/ccee7507-fd4b-4a83-a468-e3b22a791b4a",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $json.email, contact_id: $json.contact_id, tier: $json.tier, deal_asset_class: $json.deal.asset_class || \"\", deal_market: $json.deal.market || \"\", deal_price: $json.deal.price || 0, deal_type: $json.deal.deal_type || \"\", deal_summary_url: $json.deal.summary_url || \"\", deal_id: $json.deal.deal_id || \"\" }) }}",
        "options": {}
      },
      "notes": "Fires WF02 directly via webhook. Replaces reliance on GHL \"Tag Added\" trigger which was intermittent for API-applied tags. Tag application still happens downstream for history/reporting."
    },
    {
      "id": "wf02-post-b",
      "name": "B: POST to WF02 Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        320
      ],
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/hooks/7IyUgu1zpi38MDYpSDTs/webhook-trigger/ccee7507-fd4b-4a83-a468-e3b22a791b4a",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $json.email, contact_id: $json.contact_id, tier: $json.tier, deal_asset_class: $json.deal.asset_class || \"\", deal_market: $json.deal.market || \"\", deal_price: $json.deal.price || 0, deal_type: $json.deal.deal_type || \"\", deal_summary_url: $json.deal.summary_url || \"\", deal_id: $json.deal.deal_id || \"\" }) }}",
        "options": {}
      },
      "notes": "Fires WF02 directly via webhook. Replaces reliance on GHL \"Tag Added\" trigger which was intermittent for API-applied tags. Tag application still happens downstream for history/reporting."
    },
    {
      "id": "wf02-post-c",
      "name": "C: POST to WF02 Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/hooks/7IyUgu1zpi38MDYpSDTs/webhook-trigger/ccee7507-fd4b-4a83-a468-e3b22a791b4a",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $json.email, contact_id: $json.contact_id, tier: $json.tier, deal_asset_class: $json.deal.asset_class || \"\", deal_market: $json.deal.market || \"\", deal_price: $json.deal.price || 0, deal_type: $json.deal.deal_type || \"\", deal_summary_url: $json.deal.summary_url || \"\", deal_id: $json.deal.deal_id || \"\" }) }}",
        "options": {}
      },
      "notes": "Fires WF02 directly via webhook. Replaces reliance on GHL \"Tag Added\" trigger which was intermittent for API-applied tags. Tag application still happens downstream for history/reporting."
    }
  ],
  "connections": {
    "Webhook: New Deal": {
      "main": [
        [
          {
            "node": "Normalize Deal Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Deal Payload": {
      "main": [
        [
          {
            "node": "GHL: Fetch Active Buyers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL: Fetch Active Buyers": {
      "main": [
        [
          {
            "node": "Filter & Match Buyers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Match Buyers": {
      "main": [
        [
          {
            "node": "Switch by Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by Tier": {
      "main": [
        [
          {
            "node": "A: Write Deal Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 1h (Tier B)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 4h (Tier C)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A: Write Deal Fields": {
      "main": [
        [
          {
            "node": "A: POST to WF02 Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1h (Tier B)": {
      "main": [
        [
          {
            "node": "B: Write Deal Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B: Write Deal Fields": {
      "main": [
        [
          {
            "node": "B: POST to WF02 Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4h (Tier C)": {
      "main": [
        [
          {
            "node": "C: Write Deal Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C: Write Deal Fields": {
      "main": [
        [
          {
            "node": "C: POST to WF02 Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A: POST to WF02 Webhook": {
      "main": [
        [
          {
            "node": "A: Apply deal:new-inventory Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B: POST to WF02 Webhook": {
      "main": [
        [
          {
            "node": "B: Apply deal:new-inventory Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C: POST to WF02 Webhook": {
      "main": [
        [
          {
            "node": "C: Apply deal:new-inventory Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A: Apply deal:new-inventory Tag": {
      "main": [
        []
      ]
    },
    "B: Apply deal:new-inventory Tag": {
      "main": [
        []
      ]
    },
    "C: Apply deal:new-inventory Tag": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "America/Phoenix",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": null,
  "activeVersionId": "172d2dc9-e856-4030-8702-8a1c0170ff7d",
  "versionCounter": 52,
  "activeVersion": {
    "updatedAt": "2026-04-20T04:16:00.291Z",
    "createdAt": "2026-04-20T04:16:00.291Z",
    "versionId": "172d2dc9-e856-4030-8702-8a1c0170ff7d",
    "workflowId": "IxCkDTYqMi0xnCZa",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "new-deal-inventory",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook: New Deal",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "tfs-new-deal-inventory",
        "notes": "Triggered by: (1) GHL workflow when an opportunity hits 'Inventory - Ready to Blast' stage, OR (2) Notion button automation on a deal page. Expected payload fields: deal_id, source (ghl|notion), asset_class, market, price, deal_type, summary_url, address (internal only)"
      },
      {
        "parameters": {
          "jsCode": "// Normalize incoming payload from either GHL or Notion source\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// Extract and normalize\nconst deal = {\n  deal_id: body.deal_id || body.id || `deal_${Date.now()}`,\n  source: body.source || 'unknown',\n  asset_class: (body.asset_class || body.assetClass || '').trim(),\n  market: (body.market || body.deal_market || '').trim(),\n  price: parseFloat(body.price || body.deal_price || 0),\n  deal_type: body.deal_type || body.dealType || 'Wholesale',\n  summary_url: body.summary_url || body.summaryUrl || '',\n  address: body.address || '', // internal only, never sent to buyers pre-gate\n  blast_at: new Date().toISOString()\n};\n\n// Validation gate\nif (!deal.asset_class || !deal.market || !deal.price) {\n  throw new Error(`Deal missing required fields: asset_class=${deal.asset_class}, market=${deal.market}, price=${deal.price}`);\n}\n\nreturn [{ json: deal }];"
        },
        "id": "normalize-deal",
        "name": "Normalize Deal Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "=https://services.leadconnectorhq.com/contacts/?locationId=7IyUgu1zpi38MDYpSDTs&query=buyer:active&limit=100",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Version",
                "value": "2021-07-28"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "fullResponse": false
              }
            }
          }
        },
        "id": "fetch-active-buyers",
        "name": "GHL: Fetch Active Buyers",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          680,
          300
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DR2T0oJKfFcj1GFD",
            "name": "GHL Private Integration Token"
          }
        },
        "notes": "Uses GHL Private Integration Token (create under Settings → Private Integrations). Env var GHL_LOCATION_ID should be set to the TFS sub-account location ID. For paginated results beyond 100, add a Loop node — skipping that optimization until buyer list exceeds 100 active contacts."
      },
      {
        "parameters": {
          "jsCode": "// --- auto-generated field ID preamble (2026-04-17T03:40:06.936Z) ---\nconst FIELD_IDS = {\n  \"Lead Source\": \"Ov2LMG8TipkI4jlNAFRR\",\n  \"Buyer Asset Class\": \"NT3w93SU9mkNugSZjHLB\",\n  \"Buyer Market\": \"Rt1ETvZZSh3pFlFZkhro\",\n  \"Buyer Price Min\": \"pM3aeMZALD2tmf2cFSmG\",\n  \"Buyer Price Max\": \"LcsBYM6iUurqTu8SsfTz\",\n  \"Capital / POF Amount\": \"pkNBpd4VwNblSMrB20I5\",\n  \"PoF on File\": \"zKyplmyTeBFlUFdYMfUD\",\n  \"Deals Last 12 Months\": \"ToK46ItNIDFiEcEFNN5m\",\n  \"Decision Maker\": \"06k53PRZ8o9hs2Zy5F4h\",\n  \"Buyer Tier\": \"GzB9iQ9Mb9IsAKuMS93X\",\n  \"Last Touch Date\": \"SwUKaml8kRpCrrLzunlh\",\n  \"Preferred Contact Method\": \"qoFIBxIWRow8HQy3GOw1\",\n  \"Re-verify Due Date\": \"1cgpp0vcBSWSKptqoORU\",\n  \"Entity Name\": \"05jevWkhMiY8bFoe9TWc\",\n  \"EMD Amount\": \"pEf6ih4rpT7oOMLlK9wN\",\n  \"Offer Price\": \"6c52JUALKfX7Apv4RpR4\",\n  \"Close Date Target\": \"wuXiUAbgKqaYGlmqqE0e\",\n  \"Contingencies\": \"cTtqBoUEGXEk7gUdtl9u\",\n  \"Assignment Fee Paid\": \"LkrfGd6ziGJNwlxugcVV\",\n  \"Last Deal Sent ID\": \"RiSmLK8l97DKzrK3VQaZ\",\n  \"Last Deal Sent Date\": \"CAJQUQSjrkcdygsCGDdK\",\n  \"Deal Asset Class (latest)\": \"JzmuiUCvNJtHiHOeEz90\",\n  \"Deal Market (latest)\": \"tAFA5xs5ZS7AG7AgheZw\",\n  \"Deal Price (latest)\": \"h1PdpPrgYHfk7WKdEBjp\",\n  \"Deal Type (latest)\": \"TENFLNR411SHBOBRzEQX\",\n  \"Deal Summary URL (latest)\": \"hGftrRzv5pt24KrNd1sO\"\n};\nconst getFieldById = (buyer, nameKey) => {\n  const id = FIELD_IDS[nameKey];\n  if (!id) return null;\n  const m = (buyer.customFields || []).find(f => f.id === id);\n  return m ? m.value : null;\n};\n\n// Match logic — filter buyers against deal criteria\nconst deal = $('Normalize Deal Payload').first().json;\nconst buyers = $input.first().json.contacts || [];\n\nconst matches = [];\n\nfor (const buyer of buyers) {\n  // Extract custom fields — GHL returns these as an array\n  const cf = {};\n  (buyer.customFields || []).forEach(f => { cf[f.id] = f.value; });\n  \n  // Map by field key (you'll replace these IDs with your actual GHL custom field IDs after first run)\n  // Field keys from 01_custom_fields.json — the code below uses the field NAME match as a fallback\n  const getField = (name) => {\n    const byId = getFieldById(buyer, name);\n    if (byId !== null && byId !== undefined) return byId;\n    const match = (buyer.customFields || []).find(f => f.name === name || f.fieldKey === name);\n    return match ? match.value : null;\n  };\n\n  // toArr — GHL multi-select returns arrays; string-type fields return strings. Handle both.\n  const toArr = (v) => {\n    if (v === null || v === undefined) return [];\n    if (Array.isArray(v)) return v.filter(x => x !== null && x !== undefined).map(String).map(s => s.trim()).filter(Boolean);\n    if (typeof v === 'string') return v.split(',').map(s => s.trim()).filter(Boolean);\n    return [String(v)];\n  };\n  \n  const buyerAssetClasses = toArr(getField('Buyer Asset Class'));\n  const buyerMarkets = toArr(getField('Buyer Market')).map(s => s.toLowerCase());\n  const priceMin = parseFloat(getField('Buyer Price Min') || 0);\n  const priceMax = parseFloat(getField('Buyer Price Max') || Infinity);\n  const buyerTier = (getField('Buyer Tier') || 'C').toUpperCase();\n  const lastDealSentDate = getField('Last Deal Sent Date');\n  \n  // Cooldown check — skip buyers who got a deal blast in last 24h (spam prevention)\n  if (lastDealSentDate) {\n    const hoursSince = (Date.now() - new Date(lastDealSentDate).getTime()) / (1000 * 60 * 60);\n    if (hoursSince < 24) continue;\n  }\n  \n  // Asset class match (any overlap)\n  const assetMatch = buyerAssetClasses.some(ac => \n    ac.toLowerCase() === deal.asset_class.toLowerCase() ||\n    deal.asset_class.toLowerCase().includes(ac.toLowerCase())\n  );\n  if (!assetMatch) continue;\n  \n  // Market match (any substring overlap on buyer market list)\n  const dealMarketLower = deal.market.toLowerCase();\n  const marketMatch = buyerMarkets.some(bm => \n    dealMarketLower.includes(bm) || bm.includes(dealMarketLower)\n  );\n  if (!marketMatch) continue;\n  \n  // Price band match\n  if (deal.price < priceMin || deal.price > priceMax) continue;\n  \n  // All checks passed\n  matches.push({\n    contact_id: buyer.id,\n    first_name: buyer.firstName,\n    last_name: buyer.lastName,\n    email: buyer.email,\n    phone: buyer.phone,\n    tier: buyerTier,\n    tier_priority: buyerTier === 'A' ? 1 : buyerTier === 'B' ? 2 : 3\n  });\n}\n\n// Sort by tier (A first)\nmatches.sort((a, b) => a.tier_priority - b.tier_priority);\n\n// Return one item per match so downstream nodes loop naturally\nreturn matches.map(m => ({ json: { ...m, deal } }));"
        },
        "id": "filter-match",
        "name": "Filter & Match Buyers",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          900,
          300
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.tier}}",
                      "rightValue": "A",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "rightType": "string",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Tier A"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.tier}}",
                      "rightValue": "B",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "rightType": "string",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Tier B"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.tier}}",
                      "rightValue": "C",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "rightType": "string",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Tier C"
              }
            ]
          },
          "options": {
            "fallbackOutput": "none"
          }
        },
        "id": "switch-tier",
        "name": "Switch by Tier",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1120,
          300
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://services.leadconnectorhq.com/contacts/{{$json.contact_id}}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Version",
                "value": "2021-07-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ customFields: [\n  { id: 'JzmuiUCvNJtHiHOeEz90', field_value: $json.deal.asset_class },\n  { id: 'tAFA5xs5ZS7AG7AgheZw', field_value: $json.deal.market },\n  { id: 'h1PdpPrgYHfk7WKdEBjp', field_value: '$' + Number($json.deal.price).toLocaleString() },\n  { id: 'TENFLNR411SHBOBRzEQX', field_value: $json.deal.deal_type },\n  { id: 'hGftrRzv5pt24KrNd1sO', field_value: $json.deal.summary_url },\n  { id: 'RiSmLK8l97DKzrK3VQaZ', field_value: $json.deal.deal_id },\n  { id: 'CAJQUQSjrkcdygsCGDdK', field_value: new Date().toISOString().slice(0,10) }\n] }) }}"
        },
        "id": "write-deal-fields-a",
        "name": "A: Write Deal Fields",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1340,
          180
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DR2T0oJKfFcj1GFD",
            "name": "GHL Private Integration Token"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://services.leadconnectorhq.com/contacts/{{$('Filter & Match Buyers').item.json.contact_id}}/tags",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Version",
                "value": "2021-07-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={ \"tags\": [\"deal:new-inventory\"] }"
        },
        "id": "apply-tag-a",
        "name": "A: Apply deal:new-inventory Tag",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1780,
          180
        ],
        "notes": "This is what fires GHL WF02 (Deal Match & Send). The tag MUST be applied AFTER the custom fields are written, otherwise WF02 reads stale/empty fields.",
        "credentials": {
          "httpHeaderAuth": {
            "id": "DR2T0oJKfFcj1GFD",
            "name": "GHL Private Integration Token"
          }
        }
      },
      {
        "parameters": {
          "amount": 1,
          "unit": "hours"
        },
        "id": "wait-tier-b",
        "name": "Wait 1h (Tier B)",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1340,
          320
        ],
        "webhookId": "wait-tier-b"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://services.leadconnectorhq.com/contacts/{{$json.contact_id}}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Version",
                "value": "2021-07-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ customFields: [\n  { id: 'JzmuiUCvNJtHiHOeEz90', field_value: $json.deal.asset_class },\n  { id: 'tAFA5xs5ZS7AG7AgheZw', field_value: $json.deal.market },\n  { id: 'h1PdpPrgYHfk7WKdEBjp', field_value: '$' + Number($json.deal.price).toLocaleString() },\n  { id: 'TENFLNR411SHBOBRzEQX', field_value: $json.deal.deal_type },\n  { id: 'hGftrRzv5pt24KrNd1sO', field_value: $json.deal.summary_url },\n  { id: 'RiSmLK8l97DKzrK3VQaZ', field_value: $json.deal.deal_id },\n  { id: 'CAJQUQSjrkcdygsCGDdK', field_value: new Date().toISOString().slice(0,10) }\n] }) }}"
        },
        "id": "write-deal-fields-b",
        "name": "B: Write Deal Fields",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1560,
          320
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DR2T0oJKfFcj1GFD",
            "name": "GHL Private Integration Token"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://services.leadconnectorhq.com/contacts/{{$('Filter & Match Buyers').item.json.contact_id}}/tags",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Version",
                "value": "2021-07-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={ \"tags\": [\"deal:new-inventory\"] }"
        },
        "id": "apply-tag-b",
        "name": "B: Apply deal:new-inventory Tag",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          320
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DR2T0oJKfFcj1GFD",
            "name": "GHL Private Integration Token"
          }
        }
      },
      {
        "parameters": {
          "amount": 4,
          "unit": "hours"
        },
        "id": "wait-tier-c",
        "name": "Wait 4h (Tier C)",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1340,
          460
        ],
        "webhookId": "wait-tier-c"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://services.leadconnectorhq.com/contacts/{{$json.contact_id}}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Version",
                "value": "2021-07-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ customFields: [\n  { id: 'JzmuiUCvNJtHiHOeEz90', field_value: $json.deal.asset_class },\n  { id: 'tAFA5xs5ZS7AG7AgheZw', field_value: $json.deal.market },\n  { id: 'h1PdpPrgYHfk7WKdEBjp', field_value: '$' + Number($json.deal.price).toLocaleString() },\n  { id: 'TENFLNR411SHBOBRzEQX', field_value: $json.deal.deal_type },\n  { id: 'hGftrRzv5pt24KrNd1sO', field_value: $json.deal.summary_url },\n  { id: 'RiSmLK8l97DKzrK3VQaZ', field_value: $json.deal.deal_id },\n  { id: 'CAJQUQSjrkcdygsCGDdK', field_value: new Date().toISOString().slice(0,10) }\n] }) }}"
        },
        "id": "write-deal-fields-c",
        "name": "C: Write Deal Fields",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1560,
          460
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DR2T0oJKfFcj1GFD",
            "name": "GHL Private Integration Token"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://services.leadconnectorhq.com/contacts/{{$('Filter & Match Buyers').item.json.contact_id}}/tags",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Version",
                "value": "2021-07-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={ \"tags\": [\"deal:new-inventory\"] }"
        },
        "id": "apply-tag-c",
        "name": "C: Apply deal:new-inventory Tag",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          460
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "DR2T0oJKfFcj1GFD",
            "name": "GHL Private Integration Token"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { success: true, deal_id: $('Normalize Deal Payload').first().json.deal_id, matched_count: $('Filter & Match Buyers').all().length } }}"
        },
        "id": "respond-webhook",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          900,
          500
        ]
      },
      {
        "id": "wf02-post-a",
        "name": "A: POST to WF02 Webhook",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1560,
          180
        ],
        "parameters": {
          "method": "POST",
          "url": "https://services.leadconnectorhq.com/hooks/7IyUgu1zpi38MDYpSDTs/webhook-trigger/ccee7507-fd4b-4a83-a468-e3b22a791b4a",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ email: $json.email, contact_id: $json.contact_id, tier: $json.tier, deal_asset_class: $json.deal.asset_class || \"\", deal_market: $json.deal.market || \"\", deal_price: $json.deal.price || 0, deal_type: $json.deal.deal_type || \"\", deal_summary_url: $json.deal.summary_url || \"\", deal_id: $json.deal.deal_id || \"\" }) }}",
          "options": {}
        },
        "notes": "Fires WF02 directly via webhook. Replaces reliance on GHL \"Tag Added\" trigger which was intermittent for API-applied tags. Tag application still happens downstream for history/reporting."
      },
      {
        "id": "wf02-post-b",
        "name": "B: POST to WF02 Webhook",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1780,
          320
        ],
        "parameters": {
          "method": "POST",
          "url": "https://services.leadconnectorhq.com/hooks/7IyUgu1zpi38MDYpSDTs/webhook-trigger/ccee7507-fd4b-4a83-a468-e3b22a791b4a",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ email: $json.email, contact_id: $json.contact_id, tier: $json.tier, deal_asset_class: $json.deal.asset_class || \"\", deal_market: $json.deal.market || \"\", deal_price: $json.deal.price || 0, deal_type: $json.deal.deal_type || \"\", deal_summary_url: $json.deal.summary_url || \"\", deal_id: $json.deal.deal_id || \"\" }) }}",
          "options": {}
        },
        "notes": "Fires WF02 directly via webhook. Replaces reliance on GHL \"Tag Added\" trigger which was intermittent for API-applied tags. Tag application still happens downstream for history/reporting."
      },
      {
        "id": "wf02-post-c",
        "name": "C: POST to WF02 Webhook",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1780,
          460
        ],
        "parameters": {
          "method": "POST",
          "url": "https://services.leadconnectorhq.com/hooks/7IyUgu1zpi38MDYpSDTs/webhook-trigger/ccee7507-fd4b-4a83-a468-e3b22a791b4a",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ email: $json.email, contact_id: $json.contact_id, tier: $json.tier, deal_asset_class: $json.deal.asset_class || \"\", deal_market: $json.deal.market || \"\", deal_price: $json.deal.price || 0, deal_type: $json.deal.deal_type || \"\", deal_summary_url: $json.deal.summary_url || \"\", deal_id: $json.deal.deal_id || \"\" }) }}",
          "options": {}
        },
        "notes": "Fires WF02 directly via webhook. Replaces reliance on GHL \"Tag Added\" trigger which was intermittent for API-applied tags. Tag application still happens downstream for history/reporting."
      }
    ],
    "connections": {
      "Webhook: New Deal": {
        "main": [
          [
            {
              "node": "Normalize Deal Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Deal Payload": {
        "main": [
          [
            {
              "node": "GHL: Fetch Active Buyers",
              "type": "main",
              "index": 0
            },
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GHL: Fetch Active Buyers": {
        "main": [
          [
            {
              "node": "Filter & Match Buyers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter & Match Buyers": {
        "main": [
          [
            {
              "node": "Switch by Tier",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch by Tier": {
        "main": [
          [
            {
              "node": "A: Write Deal Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait 1h (Tier B)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait 4h (Tier C)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "A: Write Deal Fields": {
        "main": [
          [
            {
              "node": "A: POST to WF02 Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 1h (Tier B)": {
        "main": [
          [
            {
              "node": "B: Write Deal Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "B: Write Deal Fields": {
        "main": [
          [
            {
              "node": "B: POST to WF02 Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 4h (Tier C)": {
        "main": [
          [
            {
              "node": "C: Write Deal Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "C: Write Deal Fields": {
        "main": [
          [
            {
              "node": "C: POST to WF02 Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "A: POST to WF02 Webhook": {
        "main": [
          [
            {
              "node": "A: Apply deal:new-inventory Tag",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "B: POST to WF02 Webhook": {
        "main": [
          [
            {
              "node": "B: Apply deal:new-inventory Tag",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "C: POST to WF02 Webhook": {
        "main": [
          [
            {
              "node": "C: Apply deal:new-inventory Tag",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "A: Apply deal:new-inventory Tag": {
        "main": [
          []
        ]
      },
      "B: Apply deal:new-inventory Tag": {
        "main": [
          []
        ]
      },
      "C: Apply deal:new-inventory Tag": {
        "main": [
          []
        ]
      }
    },
    "authors": "Brooke Froehlich",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-20T04:16:00.408Z",
        "id": 65,
        "workflowId": "IxCkDTYqMi0xnCZa",
        "versionId": "172d2dc9-e856-4030-8702-8a1c0170ff7d",
        "event": "activated",
        "userId": "20fe5911-0b1e-45b5-bc28-57bbbc1fb707"
      },
      {
        "createdAt": "2026-04-20T04:16:00.382Z",
        "id": 64,
        "workflowId": "IxCkDTYqMi0xnCZa",
        "versionId": "172d2dc9-e856-4030-8702-8a1c0170ff7d",
        "event": "deactivated",
        "userId": "20fe5911-0b1e-45b5-bc28-57bbbc1fb707"
      }
    ]
  }
}